.tape-container {
    max-width: fit-content;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.tape-1 {
    height: 83px;
    width: 1530px;
    transform: rotate(2.669deg);
    background-color: white;
    margin-bottom: 70px;
}

.tape-1 p {
    color: #000;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;
    text-transform: uppercase;

}

.tape-2 {
    margin-top: 70px;
    width: 2000px;
    height: 83px;
    transform: rotate(2.669deg);
    background: #49D886;
}

.tape-2 p {
    color: #000;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;
    text-transform: uppercase;
}