.art-container {
    width: 1252px;
    height: 1479.189px;
    display: flex;
    flex-wrap: wrap;
}

.art-container .row-1 {
    height: 352.496px;
}
.art-1{
    
}

.art-container .row-2 {
    height: 352.496px;
}

.art-container .row-3 {
    height: 352.496px;
}

.art-container .row-4 {
    height: 352.496px;
}
